@{
    ViewBag.Title = "Home Page";
}

<div class="row" style="margin-left:5%;margin-right:5%;">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/animate.css/3.5.1/animate.min.css">
    <div id="first-slider">
        <div id="carousel-example-generic" class="carousel slide carousel-fade">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <!-- Item 1 -->
                <div class="item active slide1">
                    <div class="row">
                        <div class="container">
                            <div class="col-md-3 text-right">
                                <img style="max-width: 200px;" data-animation="animated zoomInLeft" src="http://s20.postimg.org/pfmmo6qj1/window_domain.png">
                            </div>
                            <div class="col-md-9 text-left">
                                <h3 data-animation="animated bounceInDown">Register your Institute Now</h3>
                                <h4 data-animation="animated bounceInUp">Easily Reduce the Burden of Management</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Item 2 -->
                <div class="item slide2">
                    <div class="row">
                        <div class="container">
                            <div class="col-md-7 text-left">
                                <h3 data-animation="animated bounceInDown">Smart is Better than hardwork</h3>
                                <h4 data-animation="animated bounceInUp">Manage Admission Process</h4>
                            </div>
                            <div class="col-md-5 text-right">
                                <img style="max-width: 200px;" data-animation="animated zoomInLeft" src="http://s20.postimg.org/sp11uneml/rack_server_unlock.png">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Item 3 -->
                <div class="item slide3">
                    <div class="row">
                        <div class="container">
                            <div class="col-md-7 text-left">
                                <h3 data-animation="animated bounceInDown">Focus on the Education Quality</h3>
                                <h4 data-animation="animated bounceInUp">Leave your Record Managements to us</h4>
                            </div>
                            <div class="col-md-5 text-right">
                                <img style="max-width: 200px;" data-animation="animated zoomInLeft" src="http://s20.postimg.org/eq8xvxeq5/globe_network.png">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Item 4 -->
                <div class="item slide4">
                    <div class="row">
                        <div class="container">
                            <div class="col-md-7 text-left">
                                <h3 data-animation="animated bounceInDown">We are creative</h3>
                                <h4 data-animation="animated bounceInUp">Get Started with us now...</h4>
                            </div>
                            <div class="col-md-5 text-right">
                                <img style="max-width: 200px;" data-animation="animated zoomInLeft" src="http://s20.postimg.org/9vf8xngel/internet_speed.png">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Item 4 -->

            </div>
            <!-- End Wrapper for slides-->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <i class="fa fa-angle-left"></i><span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <i class="fa fa-angle-right"></i><span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
<div class="line">

</div>
<h2 style="margin-left:5%;">Who We are?</h2>
<div class="line">

</div>
<div class="row" style="width:90%;margin-left:5%;margin-right:5%;">
    <p style="text-align:justify;" >
        &nbsp;&nbsp;&nbsp;&nbsp; We are Computer Science Professional who offer you the best possible Solutions meet
        your institutinal Requirement efficiently with lowest cost.
        We are team of researchers who deals with the problems faced by Educational institutes to increase the literacy rate.
    </p>
</div>
<div class="line">

</div>
<h2 style="margin-left:5%;">What We Offer?</h2>
<div class="line">

</div>
<div class="row" style="padding:5px;width:90%;margin-left:5%;" id="Services">
    <div class="col-md-4">
        <img src="~/Images/Marketing.jpg" class="img-circle"/>
        <h3>Marketing Strategy</h3>
    </div>
    <div class="col-md-4">
        <img src="~/Images/AdmissionProcess.jpg" class="img-circle" />
        <h3>Admission Process</h3>
    </div>
    <div class="col-md-4">
        <img src="~/Images/Exam_Results.jpg" class="img-circle" />
        <h3>Exams Results</h3>
    </div>
</div>
<div class="line">
</div>
<div>
    <section id="contact" style="width:90%;margin-left:5%;margin-right:5%;">
        <div class="section-content">
            <h1 class="section-header">Get in <span class="content-header wow fadeIn " data-wow-delay="0.2s" data-wow-duration="2s"> Touch with us</span></h1>
        </div>
        <div class="contact-section">
            <div class="container">
                <form>
                    <div class="col-md-6 form-line">
                        <div class="form-group">
                            <label for="exampleInputUsername">Your name</label>
                            <input type="text" class="form-control" id="" placeholder=" Enter Name">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail">Email Address</label>
                            <input type="email" class="form-control" id="exampleInputEmail" placeholder=" Enter Email id">
                        </div>
                        <div class="form-group">
                            <label for="telephone">Mobile No.</label>
                            <input type="tel" class="form-control" id="telephone" placeholder=" Enter 10-digit mobile no.">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="description"> Message</label>
                            <textarea class="form-control" id="description" placeholder="Enter Your Message"></textarea>
                        </div>
                        <div>
                            <button type="button" class="btn btn-default submit"><i class="fa fa-paper-plane" aria-hidden="true"></i>  Send Message</button>
                        </div>

                    </div>
                </form>
            </div>
    </section>